#banner{
    background: url('../../../assets/Banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 592px;
}
#banner .content{
    margin: 0 70px;
    overflow: hidden;
    margin-top: 28%;
}
#banner h4{
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;

}
#banner h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    color: #212529;
}
#banner p{
    color: #4d4d4d;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
#banner a{
    height: 46px;
    width: 140px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    background: #4f54ff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    transition: all linear .3s;
}
#banner a:hover{
    background: #222B45;
    transition: all linear .3s;
}