@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
}

* {
    scrollbar-width: thin;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a0a4f5;
}



html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-x: hidden;
}

/* Change text & background color */


a,
a:hover,
a:active {
    text-decoration: none!important;
    color: inherit;
}

button,
button:hover,
button:focus,
button:active {
    outline: none;
}

img {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}